# OLD
Flask==3.0.3
numpy==1.26.4
face_recognition==1.3.0
dlib==19.24.2
gunicorn==22.0.0
Pillow==10.4.0

# NEW - CORRECT
Flask==3.0.3
numpy==1.24.4  # <-- Change this version
face_recognition==1.3.0
dlib==19.24.2
gunicorn==22.0.0
Pillow==10.4.0
